{# templates/dish/dish_view.html.twig #}
{% extends 'layout/index.html.twig' %}
{% block title %}Dish View{% endblock %}
{% block content %}
<div class="col-xs-1-12">
    <div class="col-xs-1-10">
         
           {% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

            {{ form_start(form, {'action': path('post_dish'), 'method': 'POST'}) }}
               {{ form(form) }}
            {{ form_end(form) }}
           
       </div>
</div>
{% endblock %}